*, *:after, *:before {
    box-sizing: border-box;
    transition: all .25s ease;
}

/* ---------------- container section */

.container {
	max-width: 800px;
	margin: 0 auto;
}

/* ---------------- header section */

.header {
	text-align: center;
	border-radius: 5px;
	border: 2px red solid ;
}

